.progress{
    border: 2px solid;
    width: 60%;
    position: relative;
    overflow:hidden;
}

.runner{
    background-color: greenyellow;
    position:absolute;
    height:100%;
    width:100%;
    transition: 0.1s ease-in;
}

.value{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index:;
}